<div th:insert="layouts/header"></div>


<div class="col-lg-12">

	<div class="panel panel-default">
		<div class="panel-heading p-2"style="background-color : #15075c"></div>

		<div class="panel-body">
			<div class=" hidden">
				<button aria-hidden="true" data-dismiss="alert" class="close"
					type="button">×</button>

			</div>




			<div class="row">
				<div class="col-lg-12">
					
					<br />

					<div class="form-group">
						<a th:href="@{/admin/childAll}"><button
								class="btn btn-primary" type="button">View Child Data</button></a>
					</div>
					<div hidden="" id="employeeTable"></div>


				</div>
			</div>
		</div>
	</div>
</div>
</div>

</div>
</div>


<div th:insert="layouts/footer"></div>


<script type="text/javascript">
	$().ready(function() {

		$('#search').on('keyup', function() {

			var search = $('#search').val();

			$.ajax({
				type : "GET",
				url : "/admin/searchEmployee",
				data : {
					search : search
				},
				success : function(data) {

					$('#employeeTable').show();
					document.getElementById("employeeTable").innerHTML = data;

				}
			});

		});

	});
</script>