<div th:insert="layouts/header"></div>

<script type="text/javascript" src="../assets/script/jquery-3.3.1.js "></script>
<script type="text/javascript"
	src="../assets/js/jquery.validate.min.js "></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>



<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">MoHCC Child Rights : Update Child
				Data</div>
			<div class="panel-body">

				<div class="alert alert-success fade in hidden">
					<button aria-hidden="true" data-dismiss="alert" class="close"
						type="button">×</button>

				</div>
				<div class="row">
					<div class="col-lg-10">


						<form id="child" th:action="@{/saveChild}" th:object="${child}"
							method="post">

							<input type="hidden" th:field="*{id}">
							<div th:if="${message}" th:text="${message}"
								th:class="${'alert ' + alertClass}" />

							<div class="form-group">
								<label>First Name</label> <input th:field="*{name}"
									class="form-control" type="text" value="" />
								<p class="help-block"></p>
							</div>

							<div class="form-group">
								<label>Surname</label> <input th:field="*{surname}"
									class="form-control" type="text" value="" />
								<p class="help-block"></p>
							</div>
							<div class="form-group">
								<label>Gender</label> <input th:field="*{gender}"
									class="form-control" type="text" value="" />
								<p class="help-block"></p>
							</div>
							<div class="form-group">
								<label>Age</label> <input th:field="*{age}" class="form-control"
									type="text" value="" />
								<p class="help-block"></p>
							</div>
							<div class="form-group">
								<label>Address</label> <input th:field="*{address}"
									class="form-control" type="text" value="" />
								<p class="help-block"></p>
							</div>
							<div class="form-group">
								<button class="btn btn-primary" type="submit">Save
									Child</button>
								<a th:href="@{/admin/childAll}"><button
										class="btn btn-primary" type="button">Cancel</button></a>
							</div>
						</form>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>

<script type="text/javascript">
	$("#user").validate({

		rules : {
			firstName : "required",
			lastName : "required",
			username : "required",

		},

		messages : {
			firstName : "first Name is required",
			lastName : "last Name is required",
			username : "user Name is required",

		}
	});
</script>


<div th:insert="layouts/footer"></div>
