 
 <head>
 <style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #eeeeee;
  color: black;
  text-align: center;
}
</style>

</head>

<script type="text/javascript" src="/assets/script/jquery-3.3.1.js "></script>
<script src="/assets/bootstrap/js/bootstrap.min.js "></script>
<script src="/assets/datatables/js/jquery.dataTables.min.js "></script>
<script src="/assets/datatables/datatables/js/buttons.flash.min.js "></script>
<script src="/assets/datatables/datatables/js/buttons.html5.min.js "></script>
<script src="/assets/datatables/datatables/js/buttons.print.min.js "></script>
<script src="/assets/datatables/datatables/js/dataTables.buttons.min.js "></script>
<script src="/assets/datatables/datatables/js/pako_deflate.min.js "></script>
<script src="/assets/datatables/datatables/js/jszip.min.js "></script>
<script src="/assets/datatables/datatables/js/pdfmake.min.js "></script>
<script src="/assets/datatables/datatables/js/vfs_fonts.js "></script>
<script src="/assets/jquery-ui-1.11.4/jquery-ui.js "></script>
<script src="/assets/datatables/bootstrap/3/dataTables.bootstrap.js "></script>
<script src="/assets/script/plugins/metisMenu/metisMenu.min.js "></script>
<script src="/assets/script/sb-admin-2.js "></script>
<script src="/assets/script/custom.js "></script>

  <script src = "https://code.highcharts.com/highcharts.js"></script>


</body>   
</html>
     <footer class="footer" >
                Designed and Developed by MoHCC ICT UNIT.
    </footer>
         
     